/* DestinationHighlights.css */
.destination-highlights {
    padding: 60px 20px;
    background-color: var(--background-light);
    text-align: center;
  }
  
  .destination-highlights h2 {
    font-size: 3em;
    margin-bottom: 40px;
    color: var(--primary-color);
  }
  
  .destination-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 280px;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card img {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  
  .card h3 {
    font-size: 1.5em;
    margin: 20px 0;
  }
  
  .card p {
    font-size: 1.1em;
    font-weight: 300;
    color: var(--text-color);
    padding: 0 20px;
  }
  